<?xml version="1.0" ?>
<config>
    <modules>
        <Mygento_Geoip>
            <version>1.1.0</version>
        </Mygento_Geoip>
    </modules>
    <global>
        <blocks>
            <geoip>
                <class>Mygento_Geoip_Block</class>
            </geoip>
        </blocks>
        <helpers>
            <geoip>
                <class>Mygento_Geoip_Helper</class>
            </geoip>
        </helpers>
        <models>
            <geoip>
                <class>Mygento_Geoip_Model</class>
            </geoip>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <geoip>
                    <files>
                        <default>Mygento_Geoip.csv</default>
                    </files>
                </geoip>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <geoip>
                                            <title>Geo IP</title>
                                        </geoip>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <geoip>
                <use>admin</use>
                <args>
                    <module>Mygento_Geoip</module>
                    <frontName>geoip</frontName>
                </args>
            </geoip>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <geoip>
                    <file>mygento/geoip.xml</file>
                </geoip>
            </updates>
        </layout>
        <translate>
            <modules>
                <geoip>
                    <files>
                        <default>Mygento_Geoip.csv</default>
                    </files>
                </geoip>
            </modules>
        </translate>
        <routers>
            <geoip>
                <use>standard</use>
                <args>
                    <module>Mygento_Geoip</module>
                    <frontName>geoip</frontName>
                </args>
            </geoip>
        </routers>
    </frontend>
    <default>
        <geoip>
            <general>
                <city>Москва</city>
                <country>RU</country>
                <enabled>0</enabled>
                <layout>1</layout>
            </general>
        </geoip>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Mygento_Geoip/>
            </modules>
        </suite>
    </phpunit>
</config>
